.prueba {
  background: linear-gradient(45deg, #ff01bf 30%, #ff1010 90%);
  color: white;
}

body {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #0059ff;
}
a:hover {
  color: #2370ff;
}

.navlink a {
  color: #2c2c2c;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: bold;
}
.navlink a:hover {
  background-color: #68686823;
}

.search-box {
  position: relative;
  border-radius: 0.1rem;
  background: #ffffff56;
  width: 100%;
  align-items: center;
  height: 40px;
  margin-left: 1rem;
}
.search-box:hover {
  background: #ffffff77;
}
.searchIcon {
  padding: 0.5rem;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchInput {
  color: #ffffff;
  width: 90%;
}

.brand {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.5rem;
  color: #424242;
  text-decoration: none;
}
.brand:hover {
  color: #424242;
}

.rounded {
  background: #ea6d0b;
  border-radius: 3rem;
}

.form-control {
  margin-bottom: 1.6rem;
}

.toolBar {
  background-color: #ffd700;
  color: #424242;
}

/* Alert */
.loading {
  display: block !important;
  justify-content: center;
  align-items: center;
}

.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  margin-bottom: 1.6rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
